{% extends "base_auth.html" %}
{% load i18n %}

{% block title %} {% trans "Log in" %} {% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card"
        style="padding-left: 50px; padding-right: 50px; padding-top: 20px; padding-bottom: 50px; border-width: 4px; margin-top: 30px;">
        <h5 class="sec-two-text pt-5 pb-4">Login</h5>
        <form method="post">
            {% csrf_token %}
            {{login_form.as_p}}
            <p><input type="submit" value="{% trans 'Log in' %}" class="submit-btn"></p>
        </form>
    </div>
</div>
{% endblock %}