{% extends "base_auth.html" %}
{% block title %} Logged out {% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card"
        style="padding-left: 50px; padding-right: 50px; padding-top: 20px; padding-bottom: 50px; border-width: 4px; margin-top: 30px;">
        <h5 class="sec-two-text pt-3 pb-4">Login</h5>
        <p>You have been successfully logged out. </p>
        <p class="pt-2"><a href="{% url 'login' %}" style="text-decoration: none;">Log In Again</a> </p>
    </div>
</div>
{% endblock %}