.top-navbar {
    height: 95px !important;
    border-bottom: 1px solid #c4c4c4;
    position: relative;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;
    display: block;
}

.navbar-nav {
    height: 68px !important;
}

.nav-item {
    font-family: Karla, sans-serif;
}

.nav-link {
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    font-size: 18px !important;
}

.section-one {
    height: 600px !important;
    background-color: #ececec;
}

.section-two {
    height: 1000px !important;
    padding-top: 80px;
}

.categories {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    justify-content: space-between;
}

.cat-food {
    background-image: url(../images/cat-food.jpg);
    height: 153px;
    width: 287px;
    background-size: cover;
}

.cat-link {
    position: absolute;
    margin-left: 80px;
    margin-top: 55px;
    padding: 13px 40px;
    background-color: hsla(0, 0%, 100%, 0.95);
    transition: background-color 200ms ease;
    font-family: Montserrat, sans-serif;
    color: #131313;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.cat-design {
    background-image: url(../images/cat-design.jpg);
    height: 153px;
    width: 287px;
    background-size: cover;
}

.cat-technology {
    background-image: url(../images/cat-tech.jpg);
    height: 153px;
    width: 287px;
    background-size: cover;
}

.cat-travel {
    background-image: url(../images/cat-travel.jpg);
    height: 153px;
    width: 287px;
    background-size: cover;
}

.side-word {
    top: 8%;
    right: auto;
    bottom: 0%;
    width: 8%;
    font-size: 35px;
    height: 100px;
    margin-top: 19%;
    margin-bottom: auto;
    margin-left: 150px;
    transform: rotate(-90deg);
    font-family: 'Sorts Mill Goudy', sans-serif;
}

.h2-head {
    font-size: 37.5px !important;
    margin-top: 10rem;
    margin-bottom: 10px;
    font-family: 'Sorts Mill Goudy', sans-serif !important;
    font-weight: 400;
    border-bottom: 1px solid #c4c4c4;
}