.top-navbar {
    height: 95px !important;
    border-bottom: 1px solid #c4c4c4;
    position: relative;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;
    display: block;
}

.navbar-nav {
    height: 68px !important;
}

.nav-item {
    font-family: Karla, sans-serif;
}

nav {
    -webkit-box-shadow: 0px 1px 4px #c4c4c4;
    -moz-box-shadow: 0px 1px 4px #c4c4c4;
    box-shadow: 0px 1px 4px #c4c4c4;
}

.nav-link {
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    font-size: 18px !important;
}

.section-one {
    height: 500px !important;
    background-color: #ececec;
}

.section-two {
    height: auto;
    padding-top: 80px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #c4c4c4;
}

.categories {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    justify-content: space-between;
}

.cat-food {
    background-image: url(../images/cat-food.jpg);
    height: 153px;
    width: 287px;
    background-size: cover;
}

.cat-link {
    position: absolute;
    margin-left: 80px;
    margin-top: 55px;
    padding: 13px 40px;
    background-color: hsla(0, 0%, 100%, 0.95);
    transition: background-color 200ms ease;
    font-family: Montserrat, sans-serif;
    color: #131313;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.cat-design {
    background-image: url(../images/cat-design.jpg);
    height: 153px;
    width: 287px;
    background-size: cover;
}

.cat-technology {
    background-image: url(../images/cat-tech.jpg);
    height: 153px;
    width: 287px;
    background-size: cover;
}

.cat-travel {
    background-image: url(../images/cat-travel.jpg);
    height: 153px;
    width: 287px;
    background-size: cover;
}

.side-word {
    top: 8%;
    right: auto;
    bottom: 0%;
    width: 8%;
    font-size: 35px;
    height: 50px;
    margin-top: 10%;
    margin-left: 150px;
    transform: rotate(-90deg);
    font-family: 'Sorts Mill Goudy', sans-serif;
}

.h2-head {
    font-size: 37.5px !important;
    margin-top: 10rem;
    margin-bottom: 10px;
    font-family: 'Sorts Mill Goudy', sans-serif !important;
    font-weight: 400;
    border-bottom: 1px solid #c4c4c4;
}

.card {
    border: transparent !important;
    border-radius: 0% !important;
    padding-bottom: 100px;
    padding-top: 50px;

}

.post-sec {
    grid-column-gap: 70px;
    grid-row-gap: 16px;
    align-items: flex-start;
}

.post-img {
    height: 410px;
    width: 370px;
}

.post-title-box {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    margin-right: 34px;
    margin-left: 34px;
    padding: 30px;
    background-color: #fff;
}

.body-post {
    color: black;
    font-family: 'Sorts Mill Goudy', sans-serif;
    font-size: 25px;
    line-height: 36px;
    text-decoration: none;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.body-post:hover {
    color: #575757;
}

.cat-title {
    color: #575757;
    font-family: Montserrat, sans-serif;
    color: #919191;
    font-size: 11.5px;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-decoration: none;
    text-transform: uppercase;
}

.cat-title:hover {
    color: #575757;
}

.sec-two-text {
    margin-bottom: 10px;
    font-family: 'Sorts Mill Goudy', sans-serif;
    font-size: 30px;
    line-height: 32.5px;
    font-weight: 500;
}

.submit-btn {
    width: 100%;
    height: 44px;
    padding-top: 4px;
    background-color: #131313;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: white;
    border: 0;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}

.hero-post-detail {
    width: 1836px;
    height: 600px;
    object-fit: cover;

}

.body-wrapper {
    margin-top: -124px;
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: hsla(0, 0%, 100%, 0.97);
    position: relative;
    max-width: 1120px;
    margin-right: auto;
    margin-left: auto;
}

.title-post-detail {
    font-size: 40px;
    padding-left: 90px;
    padding-right: 90px;
    font-family: 'Sorts Mill Goudy', sans-serif;
    font-weight: 400;
}

.body-post-detail {
    font-family: Karla, sans-serif;
    color: #131313;
    font-size: 17px;
    line-height: 28px;
    padding: 90px;
    letter-spacing: -0.3px;
}