{% extends "base.html" %}

{% block content %}

<div class="d-flex post-sec" style="flex-wrap: wrap;">
    {% for post in posts %}
    <div class="card">
        {% if post.image %}
        <img src="{{post.image.url}}" alt="" class="post-img">
        {% endif %}

        <div class="post-title-box">
            <div>
                <a href="#" class="cat-title">{{post.category}}</a>
            </div>
            <div>
                <a href="#" class="body-post mt-2">{{post.title}}</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}