{% extends 'blog/base.html' %}
{% block title %} Form {% endblock %}

{% block content %}
<div class="py-5">
    <div class="card py-4 mx-5 px-4 border-light bg-light">
        <div class="px-5">
            <h3 style="padding-bottom: 10px;">Create Your New Post</h3>
            <form method="POST" enctype="multipart/form-data" class="py-4">
                {{form.as_p}}
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="CREATE"> 
           </form>
        </div>
    </div>
</div>

{% endblock %}    